/* league-spartan-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/league-spartan-v15-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* league-spartan-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/league-spartan-v15-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* league-spartan-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/league-spartan-v15-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* league-spartan-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/league-spartan-v15-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --color-white: #ffffff;
  --color-purple-900: #512051;
  --color-purple-300: #927b91;
  --color-purple-100: #f7f2f7;
  --color-pink-400: #ee69a4;
  --color-orange-400: #ef9546;
  --color-gradient: linear-gradient(to right, #512051, #814389);

  --font-general: "League Spartan", "sans-serif";

  --fs-xxs: 0.75rem; /* 12px */
  --fs-xs: 0.875rem; /* 14px */
  --fs-sm: 1rem; /* 16px */
  --fs-smd: 1.0625rem; /* 17px */
  --fs-md: 1.1875rem; /* 19px */
  --fs-lg: 1.5rem; /* 24px */
  --fs-sub: 1.75rem; /* 28px */
  --fs-xl: 2rem; /* 32px */
  --fs-2xl: 2.5rem; /* 40px */
  --fs-3xl: 3rem; /* 48px */
  --fs-4xl: 3.5rem; /* 56px */
  --fs-5xl: 4.5rem; /* 72px */

  --space-1: 0.25rem; /* 4px */
  --space-2: 0.5rem; /* 8px */
  --space-3: 0.75rem; /* 12px */
  --space-4: 1rem; /* 16px */
  --space-5: 1.5rem; /* 24px */
  --space-6: 2rem; /* 32px */
  --space-7: 2.5rem; /* 40px */
  --space-8: 3rem; /* 48px */
  --space-9: 4rem; /* 64px */
  --space-10: 4.5rem; /* 72px */
  --space-11: 5rem; /* 80px */
  --space-12: 6rem; /* 96px */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-general);
}

.content {
  position: relative;
  min-height: 100vh;
  padding: 7.25rem var(--space-4);
  background-color: var(--color-white);
  background-image: url("../images/bg-pattern-top-desktop.svg"),
    url("../images/bg-pattern-bottom-desktop.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;
  background-size: 50%, 75%;
}

@media (max-width: 55rem) {
  .content {
    background-image: url("../images/bg-pattern-top-mobile.svg"),
      url("../images/bg-pattern-bottom-mobile.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: auto 232px, 200% 310px;
  }
}

.social {
  --width: 69.375rem;

  max-width: var(--width);
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: var(--space-9);
}

.section-overview {
  display: flex;
  justify-content: space-between;
}

.overview {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  max-width: 27.8125rem;
}

.overview__title {
  color: var(--color-purple-900);
  line-height: 85%;
  letter-spacing: -2px;
  font-size: var(--fs-4xl);
}

.overview__description {
  color: var(--color-purple-300);
  line-height: 135%;
  letter-spacing: -0.6px;
  font-weight: 500;
  font-size: var(--fs-md);
}

.ratings {
  list-style-type: none;
  align-self: center;

  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.ratings__item {
  min-width: 27.875rem;
  display: flex;
  align-items: center;
  gap: var(--space-6);
  padding: var(--space-4) var(--space-6);
  background-color: var(--color-purple-100);
  border-radius: 8px;
}

.ratings__item:nth-of-type(1) {
  transform: translateX(calc(-2 * var(--space-8)));
}

.ratings__item:nth-of-type(2) {
  transform: translateX(calc(-1 * var(--space-8)));
}

.ratings__stars {
  display: flex;
  gap: var(--space-2);
}

.ratings__title {
  color: var(--color-purple-900);
  line-height: 100%;
  font-weight: 700;
  font-size: var(--fs-smd);
}

.testimonials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-5);
}

.container--first {
  padding-bottom: var(--space-6);
}

.container--second {
  padding: var(--space-4) 0;
}

.container--third {
  align-self: end;
}

.testimonial {
  --width: 21.875rem;
  max-width: var(--width);
  min-height: 14rem;
  background-color: var(--color-purple-900);
  border-radius: 8px;
  padding: var(--space-6);

  display: flex;
  flex-direction: column;
  gap: var(--space-6);
}

.testimonial__header {
  display: flex;
  gap: var(--space-5);
  align-items: center;
}

.testimonial__image {
  display: block;
  border-radius: 50%;
}

.testimonial__additional {
  display: flex;
  flex-direction: column;
}

.testimonial__author {
  color: var(--color-white);
  line-height: 100%;
  font-size: var(--fs-smd);
  font-weight: 700;
}

.testimonial__status {
  color: var(--color-pink-400);
  line-height: 100%;
  font-size: var(--fs-smd);
  font-weight: 400;
}

.testimonial__description {
  line-height: 100%;
  font-size: var(--fs-smd);
  color: var(--color-white);
  font-weight: 500;
}

@media (max-width: 61rem) {
  .social {
    --width: 38rem;
  }

  .section-overview {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: var(--space-7);
  }

  .overview {
    max-width: 100%;
  }

  .ratings__item:nth-of-type(1),
  .ratings__item:nth-of-type(2) {
    transform: translateX(0);
  }

  .testimonials {
    flex-direction: column;
    align-items: center;
    gap: var(--space-4);
  }

  .testimonial {
    --width: 28.3125rem;
  }

  .container--first {
    padding-bottom: 0;
  }

  .container--second {
    padding: 0;
  }

  .container--third {
    align-self: center;
  }
}

@media (max-width: 36rem) {
  .content {
    padding-top: var(--space-11);
  }

  .social {
    gap: var(--space-7);
  }

  .section-overview {
    gap: var(--space-6);
  }

  .ratings__item {
    gap: var(--space-4);
  }

  .overview__title {
    font-size: var(--fs-2xl);
  }

  .ratings {
    width: 100%;
  }

  .container {
    width: 100%;
  }

  .testimonial {
    min-height: auto;
    --width: auto;
    width: 100%;
  }

  .ratings__item {
    flex-direction: column;
    width: 100%;
    min-width: auto;
  }
}
